<div class="modal forgetpassword fade" id="forgetpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form #form="ngForm" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && forgotPassword(forgotPasswordForm.value,form);">
            <div class="modal-content ">
                <div class="modal-body">
                    <h5>Forgot Password</h5>
                    <p style="color:red" *ngIf="msg != null">{{ msg }}</p>
                    <input type="text" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [formControl]="forgotPasswordForm.controls['email']"
                        placeholder="Provide your email id" class="forget-pass-input">
                    <p class="errorMessage" style="color:red" *ngIf="(forgotPasswordForm.controls['email'].hasError('required') && form.submitted )">Email can't be Empty.</p>
                    <p class="errorMessage" style="color:red" *ngIf="(forgotPasswordForm.controls['email'].hasError('pattern') && form.submitted)">Email is invalid.</p>
                    <div class="text-right btn-wrap">                
                        <button class="loginBtn" type="submit" class="btn-blue">Submit</button>
                        <button class="btn btn-danger" #forgotClose id="delet_enode" name="button" data-dismiss="modal" hidden="hidden"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>