<div class="banner_sec">
		<span *ngIf="isUserLoggedIn !='employer'">
			<form [formGroup]="geoForm" (ngSubmit)="geoForm.valid && geoFormData(geoForm.value);" novalidate="false">
			<div class="searching_div">
				<div class="input_wrap pos-rel">
					<input placeholder="Search jobs by job title, job keyword, job description.." [formControl]="geoForm.controls['searchKey']"
						name="searchKey" type="text">
				</div>
				<div class="loc_select_wrap pos-rel">
					<select name="city_id" [formControl]="geoForm.controls['city_id']">
						<option value="" selected="selected">- Cities -</option>
						<option *ngFor="let dataArray of cityArray; let i = index;" value="{{ dataArray.id }}">
							{{ dataArray.name }}
						</option>
					</select>
					<span>
					</span>
				</div>
				<div class="cat_select_wrap pos-rel">
					<angular2-multiselect [data]="dropdownList" [formControl]="geoForm.controls['category_id']" 
					[(ngModel)]="selectedItems" 
					[settings]="dropdownSettings" 
					(onSelect)="onItemSelect($event)" 
					(onDeSelect)="OnItemDeSelect($event)"
					(onSelectAll)="onSelectAll($event)"
					(onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
					<span>
					</span>
				</div>
				<div class="search_btn_wrap pos-rel">
					<button class="search_btn" type="submit"></button>
					<span>
					</span>
				</div>
			</div>
			</form>
		</span>
	</div>
	<!-- mobile filters tags  -->
	<span *ngIf="isUserLoggedIn =='employee'">
		<div class="floating_filters_mobile_wrap">
			<a href="#" data-toggle="modal" data-target="#searchModel">
			<img src="assets/images/svg_icons/search_lens.svg">
			</a>
		</div>
	</span>
	<div class="service_categories_sec box-shadow-btm-secTop">
		<h2 class="title">
			service categories
		</h2>
		<div class="slider_wrap">
			<owl-carousel [options]="{responsive: { '0': {  items: 2 },'350': {  items: 3  },
			'420': { items: 4 },
			'1199': { items: 6 }
			} ,navigation: true}" [items]="temp">
			<p class="alert alert-danger" *ngIf="msg != null">{{ msg }}</p>
			<div class="item" *ngFor="let data of temp;let i = index">
				<span *ngIf="isUserLoggedIn !='employer'">
					<a [routerLink]="['/jobByCategory/'+data.id]">
					<img src="{{data.full}}">
					</a>
					<p>
						<a [routerLink]="['/jobByCategory/'+data.id]">{{data.name}}</a>
					</p>
				</span>
				<!-- disable link for employer-->
				<span *ngIf="isUserLoggedIn =='employer'">
					<img src="{{data.full}}">
					<p>{{data.name}}</p>
				</span>
			</div>
			</owl-carousel>
		</div>
	</div>
	<div class="gogle-add-sec text-center">
		<div class="container_1560">
			<ng-adsense
			[adClient]="'ca-pub-2201288336602886'"
			[adSlot]="4767504586"
			[display]="'inline-block'"
			[width]="1150"
			[height]="88">
			</ng-adsense>
		</div>
	</div>
	<div class="what-is-motipotli-sec box-shadow-btm-sec">
		<div class="container_1560">
			<h2 class="title">
				What is motipotli ?
			</h2>
			<div class="slider_wrap desktop_display_block">
				<owl-carousel [options]="{margin: 30,responsive: {'0': {  items: 1 },'768': { items: 2 },'1199': { items: 4 }} ,navigation: true,touchDrag : false,mouseDrag : false}">
					<div>
						<img src="assets/images/employer_1.png">
					</div>
					<div>
						<img src="assets/images/employee_2.png">
					</div>
					<div>
						<img src="assets/images/employer_3.png">
					</div>
					<div>
						<img src="assets/images/employee_4.png">
					</div>
				</owl-carousel>
			</div>
			<!-- ========================slider for tab ================ -->
			<div class="slider_wrap tab_display_block">
				<owl-carousel [options]="{loop: true,margin: 30,autoplay: true,responsive: {'0': {  items: 1 },'567': { items: 2 },'1199': { items: 4 }} ,navigation: true,touchDrag : true,mouseDrag : true}">
					<div>
						<img src="assets/images/employer_1.png">
					</div>
					<div>
						<img src="assets/images/employee_2.png">
					</div>
					<div>
						<img src="assets/images/employer_3.png">
					</div>
					<div>
						<img src="assets/images/employee_4.png">
					</div>
				</owl-carousel>
			</div>
			<!-- ============= end =========== -->
			<!-- ========================slider for mobile ================ -->
			<div class="slider_wrap mobile_display_block">
				<owl-carousel [options]="{loop: true,margin: 0,autoplay: true,responsive: {'0': {  items: 1 },'768': { items: 2 },'1199': { items: 4 }} ,navigation: true,touchDrag : true,mouseDrag : true}">
					<div>
						<img src="assets/images/employer_1_mobile.png">
					</div>
					<div>
						<img src="assets/images/employee_2_mobile.png">
					</div>
					<div>
						<img src="assets/images/employer_3_mobile.png">
					</div>
					<div>
						<img src="assets/images/employee_4_mobile.png">
					</div>
				</owl-carousel>
			</div>
			<!-- ============= end =========== -->
		</div>
	</div>
	<div class=" download_app_sec">
		<div class="container_1560">
			<h2 class="title">
				Download motipotli
			</h2>
			<div class="app_store_link_wrap">
				<div class="play_store">
					<a href="#">
					<img src="assets/images/googleplay.png">
					</a>
				</div>
				<div class="app_store">
					<a href="#">
					<img src="assets/images/Itunes.png">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- ====================== Search Model modal =================== -->
	<div class="modal filter_modal fade search_filter_modal" id="searchModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form [formGroup]="geoForm" (ngSubmit)="geoForm.valid && geoFormData(geoForm.value);" novalidate="false">
				<div class="modal-body myjobPage searchJobs searchJobPopup">
					<div class="select_range_wrap">
						<h3>Enter Text</h3>
						<div class="date_wrap pos-rel">
							<input placeholder="job title,keyword,description.." [formControl]="geoForm.controls['searchKey']"
								name="searchKey" type="text">
						</div>
					</div>
					<h3>Filter By</h3>
					<select name="city_id" [formControl]="geoForm.controls['city_id']">
						<option value="" selected="selected">- City -</option>
						<option *ngFor="let dataArray of cityArray; let i = index;" value="{{ dataArray.id }}">
							{{ dataArray.name }}
						</option>
					</select>
					<span>
					</span>
					<div class="categoryMultiSelect cat_select_wrap pos-rel">
						<angular2-multiselect [data]="dropdownList" [formControl]="geoForm.controls['category_id']" 
						[(ngModel)]="selectedItems" 
						[settings]="dropdownSettings" 
						(onSelect)="onItemSelect($event)" 
						(onDeSelect)="OnItemDeSelect($event)"
						(onSelectAll)="onSelectAll($event)"
						(onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
						<span>
						</span> 
						<div class="arrow">
						</div>
					</div>
					<div class="message_employee_btn_wrap youer-bid">
						<div class="btn_wrap d-flex">	
							<span *ngIf="isUserLoggedIn =='employee'">
							<button class="Job-detail-btn pink-btn a-pink-btn-pop" type="submit">Search</button>
							</span>
							<span *ngIf="isUserLoggedIn !='employee'">
							<button class="Job-detail-btn a-blue-btn-pop" type="submit">Search</button>
							</span>							              
							<button class="blueBtn btn-brown cancle-btn a-pink-btn-pop" type="button" #closeBtn data-dismiss="modal">Cancel</button>
							<input type="hidden" #closeBtn1 data-dismiss="modal">
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>