<div class="overflowWrap">
    <div class="booked-jobs-wrap bg_grey pos-rel open_jobs">
        <div class="booked-jobs-wrap container_1560">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-4 calender_order_change">
                    <div class="row">
                        <div class="col-md-6 col-xl-12 col-lg-6">
                            <!-- ================calender desktop ============== -->
                            <div class="calender_wrap calender_wrap_desktop">
                                <form [formGroup]="myForm" novalidate="false">
                                    <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"
                                    [formControl]="myForm.controls['myDateRange']" class="datepicker1"></my-date-range-picker>
                                </form>
                            </div>
                            <!-- ================================= -->
                        </div>
                        <div class="col-md-6 col-xl-12 col-lg-6">
                            <div class="post_job_wrap pos-rel">
                                <img src="assets/images/postjobimg.png" class="img-fluid" alt="">
                                <a [routerLink]="['/postjob']" href="#" class="post-a-job-btn">POST A JOB
                                <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-8 pad-lf-10">
                    <div class="booked_job_tab">
                        <div class="bookedJobOpenJobAnchor">
                            <div>
                                <a style="cursor:pointer" [routerLink]="['/bookedJob']">BOOKED JOBS</a>
                            </div>
                            <div class="active">
                                <a style="cursor:pointer" [routerLink]="['/openJob']">OPEN JOBS</a>
                            </div>
                            <div>
                                <a style="cursor:pointer" [routerLink]="['/expiredJob']">EXPIRED JOBS</a>
                            </div>
                        </div>
                        <div class="filter_by_wrap">
                            <div class="filter-wrap">
                                <span>Filter By</span>
                                <select name="company_id" (change)="onSelect($event.target.value)">
                                    <option value="" selected="selected">--Select--</option>
                                    <option *ngFor="let data of companies; let i = index;" value="{{ data.company_id }}">
                                        {{ data.title }}
                                    </option>
                                </select>
                            </div>
                            <div class="date-wrap">
                                <div class="from-date-wrap">
                                    <span class="from-date-text">From
                                    <label>Date</label>
                                    </span> {{modelDateArray.start}}
                                    <!--Nov 14,2017-->
                                </div>
                                <div class="from-date-wrap">
                                    <span class="to-date-text">To
                                    <label>Date</label>
                                    </span> {{modelDateArray.end}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ================calender mobile ============== -->
                    <div class="calender_wrap calender_wrap_mobile">
                        <form [formGroup]="myForm" novalidate="false" class="img-fluid">
                            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"
                            [formControl]="myForm.controls['myDateRange']" class="datepicker1"></my-date-range-picker>
                        </form>
                    </div>
                    <div class="job-post-description mobile_dis_none" *ngIf="delMsg != null">
                        <p class="errorMessage {{msgClass}}" *ngIf="msg != null">{{ msg }}</p>
                        <p class="errorMessage {{msgClass}}" *ngIf="delJobMsg != null">{{ delJobMsg }}</p>
                    </div>
                    <div class="job-post-description mobile_dis_none" *ngIf="delJobMsg != null">
                        <p class="errorMessage {{msgClass}}" *ngIf="delJobMsg != null">{{ delJobMsg }}</p>
                    </div>
                    <!-- ============================== -->
                    <span *ngIf="jobs?.length > 0">
                        <!--start FOR ; let i = index;-->
                        <div class="job-post-description mobile_dis_none" *ngFor="let job of jobs | paginate: { itemsPerPage: 6, currentPage: p };let i = index;">
                            <div class="title_wrap">
                                <div class="title">
                                    <h3>{{job.title}}</h3>
                                    <span *ngIf="job.company_name!=null">
                                        <p>{{job.company_name}}</p>
                                    </span>
                                    <span *ngIf="job.company_name == ''">
                                        <p>Personal</p>
                                    </span>
                                </div>
                                <div class="date_time_title">
                                    <span class="date">
                                    {{job.startdate}} to {{job.enddate}}
                                    </span>
                                    <span class="time">
                                    {{job.starttime }} to {{job.endtime}}
                                    </span>
                                </div>
                                <div class="company-logo">
                                    <img src={{job.company_logo}} alt="">
                                </div>
                            </div>
                            <div class="job_dec_wrap">
                                <div class="job_des">
                                    <span class="job_dec_title">Job Description :</span>
                                    <span class="job-detail_info">{{job.description }}</span>
                                </div>
                                <!-- =========== share icon for desktop ============= -->
                                <div class="share_anchor shareicon-desktop dropdown">
                                    <button class="share-block " data-toggle="dropdown">
                                    <span class="share-icon"></span>    
                                    <span class="text">SHARE</span>     
                                    </button>
                                    <div class="share-buttons-frame dropdown-menu">
                                        <share-buttons [theme]="'default'" [include]="['facebook','twitter','google']" [show]="14" [title]="job.title" [description]="job.description"
                                        [url]="shareBaseUrl[i]"></share-buttons>
                                        <a href="mailto:?subject=Job Share&body={{job.description}} {{shareBaseUrl[i]}}" class="emailShareBtn"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </div>
                                    <!-- =Share Buttons Frame End//= -->
                                </div>
                            </div>
                            <div class="invitation_sec">
                                <span>
                                    <!--{{job.total_notification}}  Invitation Sent--> {{job.jobcost}}
                                </span>
                                <span>{{job.total_bid }} Bids Recieved</span>
                                <span>No. Of Positions Remaining:
                                <span class="number">{{job.positions }}</span>
                                </span>
                            </div>
                            <div class="cost_wrap">
                                <div class="cost_and_date_of_job">
                                    <p>Cost:
                                        <span class="rupee_sign">
                                        </span> {{job.total_wage | currency:'INR':true:'1.2-2'}}
                                    </p>
                                </div>
                                <div class="total_hour_wrap">
                                    Total Hours : {{job.total_time}} hrs
                                </div>
                                <!-- =========== share icon for tab ======== -->
                                <div class="share_anchor shareicon-tab dropdown">
                                    <button class="share-block" data-toggle="dropdown">
                                    <span class="share-icon"></span>    
                                    <span class="text">SHARE</span>     
                                    </button>
                                    <div class="share-buttons-frame dropdown-menu">
                                        <share-buttons [theme]="'default'" [include]="['facebook','twitter','google']" [show]="14" [title]="job.title" [description]="job.description"
                                        [url]="shareBaseUrl[i]"></share-buttons>
                                        <a href="mailto:?subject=Job Share&body={{job.description}} {{shareBaseUrl[i]}}" class="emailShareBtn"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </div>
                                    <!-- =Share Buttons Frame End//= -->
                                </div>
                                <!-- ==================== end ==================== -->
                                <div class="cancle_edit_btn_wrap">
                                    <span *ngIf="job.acceptBidStatus == '0'" class="">
                                    <a  class="cancel" (click)="setCancelCompanyVal(job.job_id,i)" data-toggle="modal" data-target="#cancelJobModal" data-backdrop="static"><span></span>cancel
                                    job</a>
                                    <a [routerLink]="['/editJob/'+job.job_id]" class="edit_job">
                                    <span></span>Edit job</a>
                                    </span>
                                </div>
                                <div class="btn_wrap">
                                    <button [routerLink]="['/viewJob/'+job.job_id]" class="Job-detail-btn">Job Detail</button>
                                </div>
                            </div>
                            <!--END FOR-->
                        </div>
                        <pagination-controls (pageChange)="p = $event" class="mobile_dis_none"></pagination-controls>
                    </span>
                    <div class="job-post-description mobile_dis_none" *ngIf="jobs == null">
                        <p class="errorMessage {{msgClass}}" *ngIf="msg != null">{{ msg }}</p>
                    </div>
                    <!-- ================================mobile  ====================== -->
                    <span *ngIf="jobs?.length > 0">
                        <div class="job-post-description mobile-dis-block" *ngFor="let job of jobs; let i = index">
                            <div class="title_wrap">
                                <div class="title">
                                    <a [routerLink]="['/viewJob/'+job.job_id]">
                                        <h3>{{job.title}}</h3>
                                    </a>
                                    <p>{{job.company_name}}</p>
                                </div>
                                <div class="company-logo">
                                    <img src={{job.company_logo}} alt="">
                                </div>
                            </div>
                            <div class="mobile_date_published_wrap">
                                <div class="date_time_title mobileFlexWrap">
                                    <span class="date">
                                    {{job.startdate}} To {{job.enddate}}
                                    </span>
                                    <span class="time">
                                    {{job.starttime }} to {{job.endtime}}
                                    </span>
                                    <div class="total_hour_wrap">
                                        {{job.total_time}} hrs
                                    </div>
                                </div>
                            </div>
                            <div class="invitation_sec">
                                <span>
                                    <!--{{job.total_notification}} Invitation Sent-->{{job.jobcost}}
                                </span>
                                <span>{{job.total_bid }} Bids Recieved</span>
                            </div>
                            <div class="cost_wrap">
                                <div class="cost_and_date_of_job">
                                    <p>Cost:
                                        <span class="rupee_sign">
                                        </span> {{job.buyer_cost | currency:'INR':true:'1.2-2'}} /-
                                    </p>
                                    <span class="no-of-position-mob">No. Of Positions Remaining:
                                    <span class="number">{{job.positions }}</span>
                                    </span>
                                </div>
                                <div class="cancle_edit_btn_wrap">
                                    <span *ngIf="job.acceptBidStatus == '0'" class="cancleEditResChange">
                                    <a  class="cancel" (click)="setCancelCompanyVal(job.job_id,i)" data-toggle="modal" data-target="#cancelJobModal" data-backdrop="static"><span></span>cancel
                                    job</a>
                                    <a [routerLink]="['/editJob/'+job.job_id]" class="edit_job">
                                    <span></span>Edit job</a>
                                    </span>
                                    <div class="share_anchor shareicon-tab shareicon-mobile dropdown">
                                        <button class="share-block" data-toggle="dropdown">
                                        <span class="share-icon"></span>    
                                        </button>
                                        <div class="share-buttons-frame dropdown-menu">
                                            <share-buttons [theme]="'default'" [include]="['facebook','twitter','google']" [show]="14" [title]="job.title" [description]="job.description"
                                            [url]="shareBaseUrl[i]"></share-buttons>
                                            <a href="mailto:?subject=Job Share&body={{job.description}} {{shareBaseUrl[i]}}" class="emailShareBtn"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                        </div>
                                        <!-- =Share Buttons Frame End//= -->
                                    </div>
                                </div>
                                <div class="btn_wrap">
                                    <button [routerLink]="['/viewJob/'+job.job_id]" class="Job-detail-btn">Job Detail</button>
                                </div>
                            </div>
                        </div>
                    </span>
                    <div class="job-post-description mobile-dis-block" *ngIf="jobs==null">
                        <p style="color:red;" *ngIf="msg != null">{{ msg }}</p>
                    </div>
                    <!-- ====================================== -->
                </div>
            </div>
        </div>
        <!-- mobile filters tags  -->
        <div class="floating_filters_mobile_wrap">
            <a href="#" data-toggle="modal" data-target="#filter_modal">
            <img src="assets/images/filter_mobile.png">
            </a>
            <a [routerLink]="['/postjob']" href="#">
            <img src="assets/images/post_job_mobil.png">
            </a>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" class="mobile-dis-block"></pagination-controls>
</div>
<!-- ============================ filter modal ======================== -->
<div class="modal  filter_modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Filter By</h3>
                <select name="company_id" (change)="onSelect($event.target.value)">
                    <option value="" selected="selected">--Select--</option>
                    <option *ngFor="let data of companies; let i = index;" value="{{ data.company_id }}">
                        {{ data.title }}
                    </option>
                </select>
                <input type="hidden" #closeFilte id="deleteFilter" data-dismiss="modal">
            </div>
        </div>
    </div>
</div>
<!--deleteCompanyModal Model -->
<div class="modal userMessage fade" id="cancelJobModal" #cancelJobModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-body">
                <label>Alert</label>
                <p>Are you sure you want to cancel this job?</p>
            </div>
            <div class="text-right">
                <button class="blueBtn" (click)="deleteJob('true')">OK</button>
                <button class="greyBtn" #closeBtn id="delete-node" (click)="deleteJob('false')" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--deleteCompanyModal Model -->
<!-- ======================= end ==================== -->