<form #form="ngForm" [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && changePassword(changePasswordForm.value,form);"
    novalidate="false">
    <div class="changepassword_bg_color">

        <div class="changePasswordSection">
            <h5>Change Password</h5>
            <span class="{{msgClass}}" *ngIf="msg!=null">{{msg}}</span>
            <div class="field">
                <label>Old Password</label>
                <input type="password" name="old_pass" [formControl]="changePasswordForm.controls['old_pass']">
                <p class="errorMessage" style="color:red" *ngIf="(changePasswordForm.controls['old_pass'].hasError('required') && form.submitted)">
                    Old Password can't be Empty.</p>
            </div>
            <div class="field">
                <label>New Password</label>
                <input type="password" name="new_pass" pattern="^.*(?=.{5,15})[a-zA-Z0-9]*$" [formControl]="changePasswordForm.controls['new_pass']"
                    validateEqualTo="conf_pass">

                <p class="errorMessage" style="color:red" *ngIf="(changePasswordForm.controls['new_pass'].hasError('required')  && form.submitted)">
                    New Password can't be Empty.</p>

                <p class="errorMessage" style="color:red" *ngIf="(changePasswordForm.controls['new_pass'].hasError('pattern') && form.submitted )"
                    style="color:red">*Password should be between 5-15 Characters.</p>
            </div>
            <div class="field">
                <label>Confirm Password</label>
                <input type="password" name="conf_pass" pattern="^.*(?=.{5,15})[a-zA-Z0-9]*$" [formControl]="changePasswordForm.controls['conf_pass']">

                <p class="errorMessage" style="color:red" *ngIf="(changePasswordForm.controls['conf_pass'].hasError('required')  && form.submitted)">
                    Confirm Password can't be Empty.</p>
                <p class="errorMessage" style="color:red" *ngIf="(changePasswordForm.controls['conf_pass'].hasError('pattern') && form.submitted )"
                    style="color:red">*Password should be between 5-15 Characters.</p>
            </div>
            <div class="buttonDiv text-right">
                <button class="aBtn cancelBtn" (click)="cancelchange()">Cancel</button>
                <span *ngIf="login_type == 'employee'">
                    <button class="aBtn submitBtn pink-btn" style="border:none">Submit</button>
                </span>
                <span *ngIf="login_type == 'employer'">
                    <button class="aBtn submitBtn">Submit</button>    
                </span>

            </div>
        </div>
    </div>
</form>