<span *ngIf="valid != 'valid'">
    <div style="
    height: 60vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
">
        <p class="alert " *ngIf="msg != null" style="
    width: 100%;color:red;font-size:20px;text-align:center;
">{{ msg }}</p>
    </div>
</span>
<span *ngIf="valid == 'valid'">
    <form #formTest="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm.valid && resetPassword(resetPasswordForm.value,formTest);"
        novalidate="false">
        <div class="changepassword_bg_color">

            <div class="changePasswordSection">
                <h5>Reset Password</h5>
                <p style="width: 100%;color:green;" *ngIf="msg != null">{{ msg }}</p>
                <div class="field">
                    <label>New Password</label>
                    <input type="password" name="new_pass" pattern="^.*(?=.{5,15})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[(!)@#$%-^&+=])[a-zA-Z0-9@#(!-)$%^&+=]*$"
                        [formControl]="resetPasswordForm.controls['new_pass']">
                    <p class="errorMessage" *ngIf="(resetPasswordForm.controls['new_pass'].hasError('required') && formTest.submitted)" style="color:red">
                        New Password can't be Empty.</p>
                        <p class="errorMessage" *ngIf="(resetPasswordForm.controls['new_pass'].hasError('pattern') && formTest.submitted )" style="color:red">Password should be between 5-15 Characters with One Upper Case, Lower Case, Number & Special Character.</p>
                </div>
                <div class="field">
                    <label>Confirm Password</label>
                    <input type="password" name="conf_pass" pattern="^.*(?=.{5,15})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[(!)@#$%-^&+=])[a-zA-Z0-9@#(!-)$%^&+=]*$"
                        [formControl]="resetPasswordForm.controls['conf_pass']">
                        
                        <p class="errorMessage" *ngIf="(resetPasswordForm.controls['conf_pass'].hasError('required') && resetPasswordForm.controls['conf_pass'].touched)"
                        style="color:red">
                        Confirm Password can't be Empty.</p>
                        <p class="errorMessage" *ngIf="(resetPasswordForm.controls['conf_pass'].hasError('pattern') && formTest.submitted )" style="color:red">Password should be between 5-15 Characters with One Upper Case, Lower Case, Number & Special Character.</p>
                </div>
                <div class="buttonDiv text-right">
                    <button class="aBtn submitBtn">Submit</button>
                </div>
            </div>
        </div>
    </form>
</span>